[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "jmvcore"]
	path = jmvcore
	url = https://github.com/jamovi/jmvcore
	shallow = true
	registered = true
[submodule "walrus"]
	path = walrus
	url = https://github.com/jamovi/walrus
	shallow = true
	registered = true
