[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jmv"]
	path = jmv
	url = https://github.com/jamovi/jmv
[submodule "jmvcore"]
	path = jmvcore
	url = https://github.com/jamovi/jmvcore
[submodule "walrus"]
	path = walrus
	url = https://github.com/jamovi/walrus
